
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    color: #333;
  }

  .baner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: "Caveat", serif;
    height: 200px;
  }

  .container {
    max-width: 480px;  /* Lebar container maksimal 100% dari layar */
    padding: 16px;
    margin: 0 auto;
    border: 4px solid;
    overflow: hidden;
    background-color: #fdfee9;
  }
  
/* Styling untuk container controls */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease;
}

/* Styling untuk input search */
.controls input[type="text"] {
    padding: 12px 15px;
    margin-right: 18px;
    width: 100%;
    border: 2px solid #f8f8f8;
    background-color: #489388;
    border-radius: 8px;
    outline: none;
    color: #ffffff;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.controls input[type="text"]:focus {
    transform: scale(1.05);
}

/* Styling untuk select filter */
.controls select {
    padding: 12px 15px;
    font-size: 16px;
    border: 2px solid #f8f8f8;
    border-radius: 8px;
    outline: none;
    background-color: #489388;
    color: #ffffff;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.controls select:hover,
.controls select:focus {
    transform: scale(1.05);
}


/* Styling untuk teks placeholder */
.controls input::placeholder {
    color: #888;
    color: #ffffff;
}

  
  #card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 2 kolom di perangkat kecil, lebih banyak di perangkat besar */
    gap: 24px; /* Jarak antar card */
    padding: 16px;
    margin: 0 auto;
    justify-items: center; /* Memastikan card berada di tengah */
  }
  
  .card {
    overflow: hidden;
    background: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    width: 180px;
    height: 250px;
    border: 1px solid #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h2 {
    margin: 10px 0;
    font-size: 26px; /* Sesuaikan ukuran font jika diperlukan */
    white-space: nowrap; /* Mencegah teks berpindah ke baris berikutnya */
    overflow: hidden; /* Menyembunyikan teks yang meluap */
    text-overflow: ellipsis; /* Menambahkan elipsis di akhir teks */
    font-family: "Caveat", serif;
    font-weight: 800;
}
  
  .card a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0);
    font-weight: bold;
    margin-top: 10px;
    font-family: "Roboto", serif;
  }

  .card p {
    font-weight: 800;
    color: #3333338f;
  }
  
  #detail-container {
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    min-height: 124vh;
    overflow: hidden;
  }

  .dets {
    margin: 20px auto;
    font-family: "Roboto", serif;
  }
  
  #detail-container h2 {
    margin-bottom: 10px;
  }

  button {
    background-color: #489388;
    border: none;
    color: #ffffff;
    padding: 16px;
    border-radius: 4px;
  }
